.forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    text-align: center;
    background-color: var(--forecast_item);
  }
  
  .forecast-item img {
    width: 100px;
    height: 100px;
  }
  
  .forecast-item-data {
    margin-top: 1rem;
  }
  
  .forecast-item-data h3 {
    margin-bottom: 0.5rem;
  }
  
  .forecast-item-data p {
    margin: 0;
  }
  